<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4Net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="DEFAULT" value="MESDEV_TDSMFG" />
    <!-- Default server is centralize database for each product/site/project-->
    <add key="WAT" value="ORATEST_FASTPROFIT" />
    <add key="ERST" value="TDSPRD01_WEBSTART" />
    <add key="ERPProductHierarchy" value="EBSPRD_READONLY" />
    <add key="TDSPRD11_TDSMFG" value="Data Source =(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = FBNDBTDSPRD01.li.lumentuminc.net)(PORT = 1521)))(CONNECT_DATA =(service_name = TDSPRD11)));User ID=TDSMFG;Password=YzvatbmZc9Se2zc" />
    <add key="TDSPRD10_TDSMFG" value="Data Source =(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = szndbtdsprd01.li.lumentuminc.net)(PORT = 1521)))(CONNECT_DATA =(service_name = TDSPRD10.li.lumentuminc.net)));User ID=TDSMFG;Password=Uhg73kR4" />
    <add key="TDSPRD05_TDSMFG" value="Data Source =(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = patdbtdsprd05.li.lumentuminc.net)(PORT = 1522)))(CONNECT_DATA =(service_name = TDSPRD05)));User ID=TDSMFG;Password=mfg3prd05;Connection Timeout=120;Min Pool Size=10;Incr Pool Size=2;Decr Pool Size=2;Max Pool Size=50" />
    <add key="TDSTST05_TDSMFG" value="Data Source =(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = patdbtdstst05.li.lumentuminc.net)(PORT = 1521)))(CONNECT_DATA =(service_name = TDSTST05)));User ID=TDSMFG;Password=tdstmf9" />
    <add key="TDSTST05_TDSMFG_FL" value="Data Source =(DESCRIPTION_LIST =(LOAD_BALANCE = off)(FAILOVER = on)(DESCRIPTION =(ADDRESS = (PROTOCOL = tcp)(HOST = patdbtdstst05.li.lumentuminc.net)(PORT = 1521))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME = tdstst05srv)))(DESCRIPTION =(ADDRESS = (PROTOCOL = tcp)(HOST = patdbrmantest01.li.lumentuminc.net)(PORT = 1521))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME = tdstst05srv))));User ID=TDSMFG;Password=tdstmf9" />
    <add key="TDSPRD09_CAS_TDSMFG" value="Data Source =(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = tdsprd09.cenqb31wself.eu-west-2.rds.amazonaws.com)(PORT = 1525)))(CONNECT_DATA =(service_name = TDSPRD09)));User ID=TDSMFG;Password=Tgh67ut3oi" />
    <add key="TDSTST09_TDSMFG" value="Data Source =(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = tdstst09.cenqb31wself.eu-west-2.rds.amazonaws.com)(PORT = 1535)))(CONNECT_DATA =(service_name = TDSTST09)));User ID=TDSMFG;Password=Tgh67ut3oi" />
    <add key="TDSPRD06_TDSMFG_SJ" value="Data Source =(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = mildbtdsprd01.li.lumentuminc.net)(PORT = 1523)))(CONNECT_DATA =(service_name = TDSPRD06)));User ID=TDSMFG;Password=t06mftr4" />
    <add key="TDSPRD08_TDSMFG_SAG" value="Data Source =(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = tdsprd08.c0uzg0vwy8aj.ap-northeast-1.rds.amazonaws.com)(PORT = 1525)))(CONNECT_DATA =(service_name = TDSPRD08)));User ID=TDSMFG;Password=tDs4mfgrds" />
    <add key="TDSPRD10_TDSMFG_SZ" value="Data Source =(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = szndbtdsprd01.li.lumentuminc.net)(PORT = 1521)))(CONNECT_DATA =(service_name = TDSPRD10.li.lumentuminc.net)));User ID=TDSMFG;Password=Uhg73kR4" />
    <add key="MESDEV_TDSMFG" value="Data Source =(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = mildbmesdev02.li.lumentuminc.net)(PORT = 1521)))(CONNECT_DATA =(service_name = MESDEV)));User ID=TDSMFG;Password=tdsmfg4dev" />
    <add key="MESDEV_TDSDATA" value="Data Source =(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = mildbmesdev02.li.lumentuminc.net)(PORT = 1521)))(CONNECT_DATA =(service_name = MESDEV)));User ID=TDSDATA;Password=tdsdata4dev" />
    <add key="MESDEV_TDSADMIN" value="Data Source =(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = mildbmesdev02.li.lumentuminc.net)(PORT = 1521)))(CONNECT_DATA =(service_name = MESDEV)));User ID=TDSADMIN;Password=tdsadmin4dev" />
    <add key="ORATEST_FASTPROFIT" value="Data Source =(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = miloradbprd01.li.lumentuminc.net)(PORT = 1521)))(CONNECT_DATA =(service_name = ORATEST)));User ID=fastprofit;Password=Fas10gt" />
    <add key="TDSPRD01_WEBSTART" value="Data Source =(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = patdbtdsprd01.li.lumentuminc.net)(PORT = 1541)))(CONNECT_DATA =(SID = TDSPRD01)));User ID=webstart;Password=webstart" />
    <add key="EBSPRD_READONLY" value="Data Source =(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = lumebsdb101.dc.lumentuminc.net)(PORT = 1523)))(CONNECT_DATA =(service_name = ebsprd)));User ID=READONLY;Password=eB5r3a40nLy" />
    <add key="TDSPRD05_WAT" value="Data Source =(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = patdbtdsprd05.li.lumentuminc.net)(PORT = 1522)))(CONNECT_DATA =(service_name = TDSPRD05)));User ID=WAT;Password=Pr0wat2020" />
    <add key="PATDBTDSTST01_WEBSTART" value="Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = patdbtdstst01)(PORT = 1532)))(CONNECT_DATA = (SERVICE_NAME = tdsdev01)));Persist Security Info=True;Password=[Password];User ID=[Userid]" />
    <add key="FileUploadPath" value="C:\Users\lic67888\OneDrive\OneDrive - Lumentum Operations LLC\Public\Temp\KaizenTDS_Upload" />
    <!-- User Image Function-->
    <add key="UserPhotoPath" value="C:\Users\lic67888\OneDrive\OneDrive - Lumentum Operations LLC\Public\20 Kaizen TDS\Temp\Photo" />
    <add key="PhotoType" value="jpg" />
    <!-- For Token security key-->
    <add key="EnableToken" value="N" />
    <add key="SercurityKey" value="bZ94yt5vx!k5sBpPvAs_aYvSzan2REfS" />
    <add key="TokExpSec" value="3600" />
    <!--By second-->
    <add key="CommandTimeoutSec" value="3600" />
    <!--Send Mail-->
    <add key="mailTitle" value="Kaizen TDS System Notice" />
    <add key="sendMail" value="KaizenTDSNotice@lumentum.com" />
    <add key="smtpServer" value="relay.li.lumentuminc.net" />
    <add key="receiveMails" value="jacky.li@lumentum.com" />
    <!--CustomAppsTeam@lumentum.com-->
    <!--AWS Settings-->
	<add key="AWSAccessKey" value="AKIAWNQ7FMAHSOKILLZ7" />
	<add key="AWSSecretKey" value="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" />
	<!--Athena Setup-->
    <add key="ForceQueryAthena" value="N" />
    <!--Test File Downloader Temp Folder-->
    <add key="TestFilesTempFolder" value="\\thaapptdsdev03\data\UserDownload" />
    <!--System Name-->
    <add key="SystemName" value="Test data System for Dev" />
    <add key="KaizenTDSUIConfigFile" value="C:\SourceControl\Bitbucket\Lumentum\KaizenTDS\config.txt" />
    <!--AD Account check-->
    <add key="ADSpecialCheck" value="true" />
  </appSettings>
  <log4net>
    <!--OFF、FATAL、ERROR, WARN, INFO, DEBUG, ALL-->
    <root>
      <level value="DEBUG" />
      <appender-ref ref="LogFileAppender" />
      <!--<appender-ref ref="ConsoleAppender"/>-->
    </root>
    <!--<logger name="WebLogger">
      <level value="DEBUG" />
    </logger>
    <logger name="NHibernate">
      <level value="ERROR" />
    </logger>
    <logger name="NHibernate.SQL">
      <level value="ERROR" />
    </logger>-->
    <!--output file-->
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="appLog/" />
      <param name="AppendToFile" value="true" />
      <!-- the constrain the number of log file-->
      <param name="MaxSizeRollBackups" value="-1" />
      <!-- the size constrain for each log file -->
      <param name="MaximumFileSize" value="10MB" />
      <!-- RollingStyle Composite by  Size and  Date-->
      <param name="RollingStyle" value="Composite" />
      <param name="DatePattern" value="&quot;Logs_&quot;yyyyMMdd&quot;.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - (%line)  %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ALL" />
        <param name="LevelMax" value="OFF" />
      </filter>
    </appender>
  </log4net>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.6.1" maxRequestLength="102400" maxUrlLength="3600" maxQueryStringLength="20480" />
    <httpModules>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="UrlRoutingModule-4.0" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" preCondition="" />
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="8192" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.122.21.1" newVersion="4.122.21.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.16.0.0" newVersion="2.16.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ExcelNumberFormat" publicKeyToken="23c6f5d73be07eca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="JDSU_PerspectiveEntities" connectionString="metadata=res://*/Models.ActivityPersons.csdl|res://*/Models.ActivityPersons.ssdl|res://*/Models.ActivityPersons.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MILSQL09;initial catalog=JDSU_Perspective;persist security info=True;user id=Read-only;password=Readonly@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ACCESSCONTROLEntities" connectionString="metadata=res://*/Models.AccessControl.csdl|res://*/Models.AccessControl.ssdl|res://*/Models.AccessControl.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MILSQL09;initial catalog=ACCESSCONTROL;persist security info=True;user id=Read-only;password=Readonly@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
</configuration>